.cart-pokemons-container{
    position: relative;
    .pokemon-list {
        &__title {
            font-size: x-large;
            margin: 2rem;
        }
    
        &__container {
            display: flex;
            flex-direction: column;
    
            align-items: center;
        }
    }
    
    .pokemon__item {
        display: flex;
        justify-content: center;
        color: #034b5091;
    
        width: 250px;
        margin: 1rem;
        max-width: 80%;
        padding: 3rem 1rem;
    
        font-size: x-large;
        font-weight: 800;
    
        border: solid;
        border-width: 1px;
        border-color: gray;
        border-radius: 15px;
    
        .pokemon-details{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .clear-button{
        background-color: #034b5091;
        color: white;
        position: absolute;
        bottom: 30px;
        left: 10px;
    }
}
.cart-pokemon-list {
    &__title {
        font-size: x-large;
        margin: 2rem;
    }
}